@import "../common/styles/mixins/index";

@mixin juiTreeSwitcherIcon() {
  position: relative;
  &:after {
    @include iconfont-size-under-12px(6px);
    content: '\e611';
    display: inline-block;
    font-family: 'juiicon';
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 4px;
    color: #666;
    transition: transform .3s ease;
  }
}