@import "../src/common/styles/index";

.jui-btn, .jui-input-group {
    margin-right: 8px;
    margin-bottom: 12px;
}
.jui-input-group {
    .jui-btn {
       margin: 0;
    }
}

.demo-textbox {
    .jui-input {
        width: 240px;
        margin-right: 12px;
    }
}